@model Zeroprox.Domain.Entities.Skill

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Skills</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SkillName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>