@model Zeroprox.Domain.Entities.Skill

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skills</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SkillName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MasteryId)
        </dt>
        <dd>
            @ViewBag.MasteryRank
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.SkillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>