@model Zeroprox.Domain.Entities.Skill

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Skills</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SkillId"/>
        <div class="form-group">
            <label asp-for="SkillName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SkillName" class="form-control" />
                <span asp-validation-for="SkillName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MasteryId" class="control-label col-md-2">MasteryId</label>
            <div class="col-md-10">
                <select asp-for="MasteryId" asp-items="ViewBag.MasteryId" class="form-control"></select>
                <span asp-validation-for="MasteryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
