@model IEnumerable<Zeroprox.Domain.Entities.Skill>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SkillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MasteryId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mastery.Rank)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkillId">Delete</a>
            </td>
        </tr>
    }
</table>