@model Zeroprox.Domain.Entities.Education

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Education</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentSchool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentSchool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearStart)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.EducationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>