@model Zeroprox.Domain.Entities.Education

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Education</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EducationId"/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="CurrentSchool"/>
                    <label asp-for="CurrentSchool"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DegreeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DegreeName" class="form-control"/>
                <span asp-validation-for="DegreeName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SchoolName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SchoolName" class="form-control"/>
                <span asp-validation-for="SchoolName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="YearStart" class="form-control"/>
                <span asp-validation-for="YearStart" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="YearEnd" class="form-control" />
                <span asp-validation-for="YearEnd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
