@model IEnumerable<Zeroprox.Domain.Entities.Education>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearStart)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearStart)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationId">Delete</a>
            </td>
        </tr>
    }
</table>