﻿@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Manage My Account</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <!-- Admin Dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Admin <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="FileUploads" asp-action="index">Upload Files</a>
                        </li>
                        <li>
                            <a asp-controller="Roles" asp-action="index">Manage Roles</a>
                        </li>
                        <li>
                            <a asp-controller="UserRoles" asp-action="index">Manage Users</a>
                        </li>
                        <li>
                            <a asp-controller="Educations" asp-action="index">Manage Educations</a>
                        </li>
                        <li>
                            <a asp-controller="WorkExperiences" asp-action="index">Manage Work Experiences</a>
                        </li>
                        <li>
                            <a asp-controller="Projects" asp-action="index">Manage Projects</a>
                        </li>
                        <li>
                            <a asp-controller="Masteries" asp-action="index">Manage Masteries</a>
                        </li>
                        <li>
                            <a asp-controller="Skills" asp-action="index">Manage Skills</a>
                        </li>
                        <li>
                            <a asp-controller="Socials" asp-action="index">Manage Social</a>
                        </li>
                    </ul>
                </li>
                <!-- end admin dropdown-->
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}