@using System.Threading.Tasks
@model Zeroprox.Web.ViewModels.Account.UserRolesViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        @if (!Model.Roles.Any())
        {
            <dd>
                No roles assigned
            </dd>
        }
        else
        {
            foreach (var role in Model.Roles)
            {
                <dd>
                    @role
                </dd>
            }
        }   
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-username="@Model.UserName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>