@model Zeroprox.Web.ViewModels.Account.UserRolesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>User: @Html.DisplayFor(m => m.UserName)</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserName"/>
        <input type="hidden" asp-for="Email"/>
        <input type="hidden" asp-for="FirstName"/>
        <input type="hidden" asp-for="LastName"/>

        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.UserName)
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedRole" class="col-md-2 control-label"></label>
            <span class="col-md-10">
                @foreach (var role in Model.SelectedRole)
                {
                    <input type="checkbox" name="SelectedRole" value="@role.Value" checked="@role.Selected" class="checkbox-inline"/>
                    @Html.Label(role.Value, null, new { @class = "control-label" })
                }
            </span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>