﻿@model IEnumerable<Zeroprox.Domain.Entities.ApplicationUser>

@{
    ViewData["Title"] = "Admin: User Roles";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="EditRoles" asp-route-username="@item.UserName">Edit Roles</a> |
                <a asp-action="Details" asp-route-username="@item.UserName">Details</a> |
                @if (item.NormalizedUserName != "ZEROPROX")
                {
                    <a asp-action="Delete" asp-route-username="@item.UserName">Delete</a>
                }               
            </td>
        </tr>
    }
</table>