﻿
@{
    ViewBag.Title = "Check your email";
}

<h1 class="h1">Check Your E-Mail!</h1>

<p class="text-danger">
    A link to confirm your E-Mail has been sent to your E-Mail. <br />
    If you did not receive an E-Mail within 10 minutes please check your spam folder. <br />
    Otherwise <a asp-action="ResendEmailConfirm">Click Here</a> to resend another confirmation link.
</p>
