﻿@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"].</h2>
<p class="text-danger">
    Please check your email to reset your password and view your Username. <br/>
    If you do not see an E-Mail within 10 minutes check your spam folder.
</p>