﻿@using System.Threading.Tasks
@model Zeroprox.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Resend E-Mail Confirmation link";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="ResendEmailConfirm" method="post" class="form-horizontal" role="form">
    <h4>Enter your email.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>