﻿@using System.Threading.Tasks
@model Zeroprox.Web.ViewModels.Manage.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Change your account settings</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Create</a>
            }
            ]
        </dd>
        <dt>E-Mail:</dt>
        <dd>
            @if (!Model.EmailConfirmed)
            {
                <a asp-controller="Account" asp-action="ResendEmailConfirm">[Confirm E-Mail]</a>
            }
            else
            {
                <p>E-Mail is confirmed!</p>
                <p>Ability to change E-mail will come at a later date</p>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count [<a asp-controller="Manage" asp-action="ManageLogins">Manage</a>]
        </dd>
    </dl>
</div>