﻿@import '../general-styles';

.edu-item {
    margin-bottom: 2em;
    h3 {
        @extend .title;
    }
    .college {
        font-size: 1em;
        color: $title-lightgreen;
        font-weight: 600;
        a {
            @extend .after-title;
        }
    }
}
