﻿@import '../config/mixins.scss';
@import '../general-styles.scss';

.dev-pic {
    margin: 2em 0 2.5em 0;

    .social-media {
        ul {
            list-style-type: none;

            li {
                display: inline-block;

                a {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 3em;
                    margin: 8px;

                    .fa-linkedin-square:hover {
                        color: #0077B5;
                    }

                    .fa-twitter-square:hover {
                        color: #4099FF;
                    }

                    .fa-bitbucket-square:hover {
                        color: #205081;
                    }

                    .fa-envelope:hover {
                        color: #cccc30;
                    }
                }
            }
        }
    }

    div {
        text-align: center;

        h1 {
            color: #337ab7;
            font-weight: bold;
        }

        img {
            @include border-radius(100%);
            margin-top: 1.5em;
        }
    }
}
