﻿@import '../general-styles';

.projects {
    .panel-heading {
        h3 {
            @extend .title;
        }
    }
    .panel-body {
        .proj-link {
            padding-left: 0.4em;
            font-size: 1.2em;
            a {
                color: #337ab7;
                font-style: italic;
            }
        }
        .proj-img {
            margin: 0.5em 0 1.4em 0;
        }
        .proj-desc {
            @extend .para-indent;
        }
    }
}
