﻿@import '../general-styles';

.skill {
    .skill-item {
        h3 {
            @extend .title;
            .skill-rank {
                color: $title-lightgray;
                float: right;
                font-size: 0.7em;
            }
        }
        .progress-bar {
            background-color: $title-lightgreen;
        }   
    }
    a {
        color: #337ab7;
        font-weight: bold;
    }
}
