﻿@import '../general-styles';

.wrk-item {
    margin-bottom: 2em;
    h3 {
        @extend .title;
    }
    .wrk-emplyr {
        color: $title-lightgreen;
        font-size: 0.8em;
        font-weight: normal;
        font-style: italic;
        span:first-child {
            color: #808080;
            font-weight: bold;
        }
    }
    p {
        @extend .para-indent;
    }
}
