﻿@{
    ViewData["Title"] = "Jarred Miles";
}

<div class="content row">
    <section>
        <!-- user pic section -->
        <div class="dev-pic col-md-12" ng-controller="socialCtrl">
            <div class="social-media">
                <ul>
                    <li ng-if="socials[0].linkedInUrl != null">
                        <a href="{{ socials[0].linkedInUrl }}" target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li ng-if="socials[0].twitterUrl != null">
                        <a href="{{ socials[0].twitterUrl }}" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li ng-if="socials[0].bitBucketUrl != null">
                        <a href="{{ socials[0].bitBucketUrl }}" target="_blank">
                            <i class="fa fa-bitbucket-square"></i>
                        </a>
                    </li>
                    <li ng-if="socials[0].contactEmail != null">
                        <a href="mailto:{{ socials[0].contactEmail }}" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div ng-if="socials[0].file.fileId != null" class="img-responsive">
                <h1>
                    Jarred Miles
                </h1>
                <img ng-src="{{ socials[0].file.filePath }}" alt="{{ socials[0].file.name }}"/>
            </div>
        </div>
        <!-- end user pic section -->
        <!-- about section-->
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">About Me</h2>
                </div>
                <div class="about panel-body" ng-controller="socialCtrl">
                    <p ng-if="socials[0].aboutMe != null">
                        {{ socials[0].aboutMe }}
                    </p>
                    <div ng-if="socials == '' || socials[0].aboutMe == null" class="alert alert-danger">
                        No About Me to show.
                    </div>
                </div>
            </div>
        </div>
        <!--end about section-->
        <!-- Skills Section-->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Skills</h2>
                </div>
                <div class="skill panel-body" ng-controller="skillCtrl">
                    <!-- skill item-->
                    <div ng-if="skills != null" ng-repeat="skill in skills | orderBy:'mastery.percent'" class="skill-item">
                        <h3>
                            {{ skill.skillName }}
                            <span class="skill-rank">{{ skill.mastery.rank }}</span>
                        </h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ skill.mastery.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.mastery.percent }}%">
                                <span class="sr-only">{{ skill.mastery.percent }}%</span>
                            </div>
                        </div>
                    </div>
                    <!-- end skill item-->
                    <div ng-if="skills == ''" class="alert alert-danger">
                        There are no skills to show.
                    </div>
                </div>
            </div>
        </div>
        <!--end of skills section-->
        <!-- work experience section-->
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Work Experience</h2>
                </div>
                <div class="panel-body" ng-controller="workCtrl">
                    <!--work exp item-->
                    <div class="wrk-item" ng-if="works != null" ng-repeat="wrk in works">
                        <h3>
                            {{ wrk.jobTitle }} <span class="wrk-emplyr">
                                - <span>{{ wrk.employerName }}</span> ({{ wrk.startDate | date: 'mediumDate' }} -
                                <span ng-if="wrk.endDate != null">{{ wrk.endDate | date: 'mediumDate' }}</span>
                                <span ng-if="wrk.endDate == null">Present</span>)
                            </span>
                        </h3>
                        <p>
                            {{ wrk.jobDescription }}
                        </p>
                    </div>
                    <!--end work exp item-->
                    <div class="alert alert-danger" ng-if="works == ''">
                        No Work Experiences to show.
                    </div>
                </div>
            </div>
        </div>
        <!--end work experience section-->
        <!-- education section-->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Education</h2>
                </div>
                <div class="panel-body" ng-controller="educationCtrl">
                    <!--education item-->
                    <div class="edu-item" ng-if="educations != null" ng-repeat="edu in educations">
                        <h3>
                            <i class="fa fa-graduation-cap"></i> {{ edu.degreeName }}
                        </h3>
                        <h4 class="college">
                            <a href="https://www.fvtc.edu" target="_blank">{{ edu.schoolName }}</a> -
                            <span ng-if="edu.yearEnd == null">
                                ({{ edu.yearStart }} - Present)
                            </span>
                            <span ng-if="edu.yearEnd != null">
                                ({{ edu.yearStart }} - {{ edu.yearEnd }})
                            </span>
                        </h4>
                    </div>
                    <!--end education item-->
                    <div ng-if="educations == ''" class="alert alert-danger">
                        There are currently no educations to show.
                    </div>
                </div>
            </div>
        </div>
        <!--end education section-->
        <!-- project section-->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Projects</h2>
                </div>
                <div class="panel-body" ng-controller="projectCtrl">
                    <div class="row">
                        <!--project item-->
                        <div class="col-md-4" ng-if="projects != null" ng-repeat="prj in projects">
                            <div class="panel panel-default projects">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ prj.name }}</h3>
                                </div>
                                <div class="panel-body">
                                    <p class="proj-link">
                                        Link:
                                        <a href="{{ prj.link }}" target="_blank">{{ prj.name }}</a>
                                    </p>
                                    <img class="proj-img img-responsive img-thumbnail" ng-src="{{ prj.file.filePath }}" alt="{{ prj.file.name }}"/>
                                    <div ng-if="prj.inProgress == true" class="alert alert-warning" role="alert">
                                        <p>
                                            Currently working on this project
                                        </p>
                                    </div>
                                    <p class="proj-desc">
                                        {{ prj.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--end project item-->
                    </div>
                    <div ng-if="projects == ''" class="alert alert-danger">
                        There are currently no projects to show.
                    </div>
                </div>
            </div>
        </div>
        <!--end project section-->
    </section>
</div>