﻿Comments are not allowed in the package.json file (See http://blog.getify.com/json-comments/ for why this is silly), so
they are added here.

The package.json file is responsible for installing <a href="https://www.npmjs.com/">npm</a> packages. See the official
<a href="https://docs.npmjs.com/files/package.json">package.json specification</a> for more information.

<ul>
    <li>
        name - This is used if you want to create your own npm package. Unfortunately, this is required by NPM. It does
        not matter what goes here too much.
    </li>
    <li>
        version - Same as above.
    </li>
    <li>
        devDependencies - The npm packages your project depends on. Gulp packages start with 'gulp'. These are
        downloaded to a node_modules folder at the root of the project.
    </li>
</ul>