﻿@import 'config/variables';

.title {
    font-weight: bold;
    color: $title-gray;
    font-size: 1.3em;
}
.after-title {
    color: $title-lightgreen;
    font-size: 1em;
}
.para-indent {
    text-indent: 1em;
}
.panel-title {
    text-align: center;
}
