@model Zeroprox.Domain.Entities.Files.FileUpload

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<form asp-action="View" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>File</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Choose a file to upload</label>
            <div class="col-md-10">
                <input type="file" name="uploadedFile"/>
            </div>
        </div>
        <input type="hidden" id="FileType" name="FileType"/>
        <input type="hidden" id="FilePath" name="FilePath"/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
