@using System.Threading.Tasks
@using Zeroprox.Domain.Entities.Files
@model Zeroprox.Domain.Entities.Files.FileUpload

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        @if (@Model.FileType == FileType.Image)
        {
            <dt>
                Image Preview
            </dt>
            <dd>
                <img class="img-responsive img-circle" style="height: 15em; width: 15em;" src="@Html.DisplayFor(m => m.FilePath)" alt="@Html.DisplayFor(m => m.Name)"/>
            </dd>
        }
        else
        {
            <dt>
                File
            </dt>
            <dd>
                <a href="@Html.DisplayFor(model => model.FilePath)" target="_blank">View/Download</a>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>