@model Zeroprox.Domain.Entities.Mastery

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Mastery</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Rank" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Percent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Percent" class="form-control"/>
                <span asp-validation-for="Percent" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
