@model Zeroprox.Domain.Entities.Mastery

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mastery</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MasteryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>