@model IEnumerable<Zeroprox.Domain.Entities.Mastery>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percent)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MasteryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MasteryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MasteryId">Delete</a>
            </td>
        </tr>
    }
</table>