﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewData["Title"] = "Admin: User Roles";
}

<h2>User Roles</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.NormalizedName != "ADMIN")
                {
                    <a asp-action="Delete" asp-route-name="@item.Name">Delete</a>
                }               
            </td>
        </tr>
    }
</table>