@model Zeroprox.Domain.Entities.WorkExperience

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>WorkExperience</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="WorkId"/>
        <div class="form-group">
            <label asp-for="EmployerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerName" class="form-control"/>
                <span asp-validation-for="EmployerName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="JobDescription" class="form-control"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>