@model Zeroprox.Domain.Entities.Social

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Socials</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AboutMe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="AboutMe" class="form-control"></textarea>
                <span asp-validation-for="AboutMe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BitBucketUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BitBucketUrl" class="form-control"/>
                <span asp-validation-for="BitBucketUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactEmail" class="form-control"/>
                <span asp-validation-for="ContactEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FileId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FileId" asp-items="ViewBag.FileId" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkedInUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LinkedInUrl" class="form-control"/>
                <span asp-validation-for="LinkedInUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TwitterUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TwitterUrl" class="form-control"/>
                <span asp-validation-for="TwitterUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>