@model Zeroprox.Domain.Entities.Social

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Socials</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BitBucketUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BitBucketUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkedInUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkedInUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>